<h1><%= @people.name %></h1>
<%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185' + @people.profile_path.to_s %>
<p>Born: <%= Date.parse(@people.birthday).strftime("%b %d, %Y") %></p>
<% if !@people.deathday.empty? %>
<p>Died: <%= Date.parse(@people.deathday).strftime("%b %d, %Y") %></p>
<% end %>
<p><%= @people.place_of_birth %></p>
<p><%= @people.biography %></p>
<p><%= @people.biography %></p>


	<div class='other_movies'>
		<% Tmdb::People.credits(@people.id)['cast'].sample(7).each do |movie| %>
			<%= link_to (image_tag movie_image(movie['poster_path'].to_s), :class => 'poster'),  
						'/movies/' + movie['id'].to_s %>
		<% end %>
	</div>


