<h1><%= @people.name %></h1>
<% if @people.profile_path.nil? %>
	<%= image_tag missing_image, :class => 'actor' %>
<% else %>
	<%= image_tag moviedb_image(@people.profile_path) %>
<% end %>

<% if !@people.birthday.nil? %>
	<p>Born: <%= Date.parse(@people.birthday).strftime("%b %d, %Y") %></p>
<% end %>
<% if !@people.deathday.blank? %>
	<p>Died: <%= Date.parse(@people.deathday).strftime("%b %d, %Y") %></p>
<% end %>
<p><%= @people.place_of_birth %></p>
<p><%= @people.biography %></p>


<div class='other_movies'>
	<% Tmdb::People.credits(@people.id)['cast'].each do |movie| %>
		<% if !movie['poster_path'].nil? %>
		<%= link_to (image_tag movie_image(movie['poster_path'].to_s), :class => 'poster'),  
					movie_path(movie['id'].to_s) %>
		<% end %>
	<% end %>
</div>


<h4>Career</h4>
<% @career.reverse.each do |movie| %>
<% if !movie['release_date'].nil? %>
<p>
	<%= Date.parse(movie['release_date']).strftime("%b %d, %Y") %> 
	<%= link_to movie['title'], movie_path(movie['id'].to_s) %>
</p>
	<% end %>
<% end %>