<h1>New DVD Releases</h1>
<% @movies.each do |movie| %>
	<% if movie.scores.audience_score > 70 %>
		<p><%= image_tag movie.posters.thumbnail %></p>
		<p><%=link_to movie.name, '/movies/' + movie.id %></p>
		<p><%= movie.synopsis %></p>
		<p>Critics Score: <%= movie.scores.critics_score %> | Audience Score: <%= movie.scores.audience_score %></p>
	<% end %>	
<% end %>

