
<div class='row'>
	<div class='span2'>
		<% if @movie.poster_path.nil? %>
			<%= link_to (image_tag missing_image) %>
		<% else %>
			<%= image_tag moviedb_image(@movie.poster_path) %>
		<% end %>
	</div>
	<div class='span10'>
		<h3><%= @movie.title %></h3>
		<!-- Button to trigger modal -->
		<% if !@trailer['youtube'].empty? %>
		<a href="#myModal" role="button" class="btn" id='trailer_toggle' data-toggle="modal">Trailer</a>
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel"><%= @movie.title %></h3>
		  </div>
		    <iframe width="560" height="315" src='<%= @youtube  %>' frameborder="0" allowfullscreen></iframe>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>
		<% end %>
		<p><i class='icon-star'></i><%= @movie.vote_average %>/10 (<%= @movie.vote_count %>)</p>
		<p><%= @movie.overview %></p>
		<table>
			<tbody>
				<tr>
					<td>
						<% Tmdb::Movie.casts(@movie.id)['cast'].first(4).each do |cast| %>
						<div class='span4'>
							<span class='image'>
								<% if cast['profile_path'].nil? %>
									<%= link_to (image_tag missing_image, :class => 'actor'), 
											celebrity_path(cast['id'].to_s) %>
								<% else %>
									<%= link_to (image_tag moviedb_image(cast['profile_path']), :class => 'actor'), 
											celebrity_path(cast['id'].to_s) %>
								<% end %>
							</span>
							<span class='text'><%= cast['name'] %></span>
						</div>
						<% end %>
					</td>		
				</tr>
			</tbody>
		</table>
		<div>
			<% Tmdb::Movie.similar_movies(@movie.id)['results'].sample(14).each do |movie| %>
				<% if movie['poster_path'].nil? %>
					<%= link_to (image_tag missing_image, :class => 'poster') %>
				<% else %>
					<%= link_to (image_tag movie_image(movie['poster_path'].to_s), :class => "poster"),  
								movie_path(movie['id'].to_s) %>
				<% end %>						
			<% end %>
		</div>
	</div>
</div>











